
@*@{
    ViewBag.Title = "AddImage";
}

<h2>AddImage</h2>

@using (Html.BeginForm("AddImage", "Slider", FormMethod.Post,
               new { enctype = "multipart/form-data" }))
{

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
<fieldset>
<legend>Gallery</legend>
<div class="editor-label">
Upload Image
</div>
<div class="editor-field">
<input type="file" id="ImagePath" name="ImagePath" />
</div>
<p>
<input type="submit" value="Save" />
</p>
</fieldset>


}*@

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddImage</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@
