@model List<SliderPic>

@{
    ViewBag.Title="Index";
}

<h2>Marketing For Winery (Maybe E-Commerce) In Future</h2>
<h4>Maybe Display Wine Objects Here With Prices For Sale</h4>
<h4>Maybe Set Up Shopping Cart - No Time To Do So In Class</h4>
<h4>Major Scope Creep Here...</h4>

<p>
@Html.ActionLink("Add Image", "AddImage", "Slider", new { id = "linkAddimage" }, null) |
@Html.ActionLink("Delete Image", "DeleteImages", "Slider", new { id = "linkDeleteimage" }, null)
</p>
@Html.Partial("~/Views/Shared/SliderPartial.cshtml", Model)


