@model IEnumerable<WineEntryProposal.Models.Gallery>    

@{
    ViewBag.Title="Index";
}

<h2>Index For Slider</h2>

<p>
@Html.ActionLink("Add Image", "AddImage", "Slider", new { id = "linkAddimage" }, null) |
@Html.ActionLink("Delete Image", "DeleteImages", "Slider", new { id = "linkDeleteimage" }, null)
</p>
@Html.Partial("~/Views/Shared/SliderPartial.cshtml", Model)


