@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    184 Cedarview Dr.<br />
    Shepherdsville, KY  40165<br />
    <abbr title="Phone">Phone:</abbr>
    (502) 475-6897<br />
    <abbr title="Fax">Fax:</abbr>
    (502) 996-8246<br />
    <abbr title="Email">Email:</abbr>
    Fouts.John@gmail.com<br />
    <abbr title="URL">LinkedIn:</abbr>
    www.linkedin.com/in/johnfouts
        
</address>

<address>
    <strong>Marketing & Support:</strong>   <a href="mailto:foutsconsulting@gmail.com">Support@example.com</a><br />
</address>