@{
    ViewBag.Title = "Contact Fouts Consulting";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2321 Glenmary Dr. Apt 2<br />
    Louisville, KY  40204<br /><br />
    <abbr title="Phone">Phone:</abbr>
    (502) 475-6897<br />
    <abbr title="Fax">Fax:</abbr>
    (502) 996-8246<br /><br />
    <abbr title="Email">Email:</abbr>
    Fouts.John@gmail.com<br />
    <a title="URL"></a>
    <a href="www.linkedin.com/in/johnfouts">John R. Fouts, MBA LinkedIn</a>
    
        
</address>

<address>
    <strong>Marketing & Support:</strong>   <a href="mailto:Fouts.John@gmail.com">Fouts.John@gmail.com</a><br />
</address>