<tr>
<td>
<input type="checkbox" name="ImageID" value="@Model.ID" />
</td>
<td>@Model.ImagePath</td>

</tr>


@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gallery</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@
